RAG_API_URL=http://localhost:8080
NEXT_PUBLIC_COGNITO_AUTHORIZE_URL=https://replace-me.auth.us-east-1.amazoncognito.com/oauth2/authorize
COGNITO_TOKEN_URL=https://replace-me.auth.us-east-1.amazoncognito.com/oauth2/token
NEXT_PUBLIC_COGNITO_LOGOUT_URL=https://replace-me.auth.us-east-1.amazoncognito.com/logout
NEXT_PUBLIC_COGNITO_CLIENT_ID=replace-me-client-id
COGNITO_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
