RAG_API_URL=http://127.0.0.1:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000

COGNITO_AUTHORIZE_URL=https://fred-rag-gpu-lab-12345.auth.ap-south-1.amazoncognito.com/oauth2/authorize
COGNITO_TOKEN_URL=https://fred-rag-gpu-lab-12345.auth.ap-south-1.amazoncognito.com/oauth2/token
COGNITO_LOGOUT_URL=https://fred-rag-gpu-lab-12345.auth.ap-south-1.amazoncognito.com/logout
COGNITO_CLIENT_ID=6i9mt7qu3hol5gjt5ovvir2sgj
